@using TMDBMovieSearch.Models
@using System.Net.Http.Json


@inject IHttpClientFactory _clientFactory

<h3>MovieData</h3>

@if (string.IsNullOrWhiteSpace(errorString) == false)
{
    <div class="h2">@errorString</div>
}
else if (results is null)
{
    <div class="h4">Loading...</div>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Page</th>
                <th>Results</th>
                <th>Total Pages</th>
                <th>Total Results</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in results.Results)
            {
                <tr>
                    <td>@item.title</td>
                    <td>@item.overview</td>
                    <td>@item.release_date</td>
                    <td>@item.popularity</td>
                    <td>@item.poster_path</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    SearchResults results;
    string errorString;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
        "https://api.themoviedb.org/3/search/movie?api_key=7c43300088957ad0d9d525c14b76cf01&language=en-US&query=Godfather&include_adult=false");

        var client = _clientFactory.CreateClient();
        HttpResponseMessage response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            results = await response.Content.ReadFromJsonAsync<SearchResults>();
            errorString = null;
        }
        else
        {
            errorString = "No Results Found. Sorry, try again!";
        }
    }

}
